body{
    background-color:   #F1F1F1;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

 main {
    flex: 1 0 auto;
  }

.img-header{
    padding: 10px;

    }
    

    .footer-text;{
        float: left;
        margin-right: 5%;
        margin-top: 10%;
    }
    .forms
    {
        margin-top: 5em;
    }
    .minnka{
        font-size: 1.2em;
        padding: 0;
        margin: 0;
    }

.logo-sleif{
  max-width: 90%;
  margin-left: 10px;
}
       
        @media screen and (max-width: 50em){
           .minnka{
            font-size: 0.8em;
           }
           .logo-sleif {
            margin-top: 10%;
           }
        }
         @media screen and (max-width: 35.5em){
           .minnka{
            font-size: 0.55em;
           }
           .logo-sleif {
            margin-top: 10%;
           }
        }
          @media screen and (max-width: 30em){
           .minnka{
            font-size: 0.5em;
           }
           .logo-sleif {
            margin-top: 10%;
           }
        }
    